<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Beatless</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
    <h1>Edit details for <%= track.title %></h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/tracks">All Tracks</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Track Details:</h2>
        <form action="/tracks/<%= track._id %>?_method=PUT" method="POST">
            <label>Artists</label><br>
            <select name="artist">
                <% for(let i = 0; i < artists.length; i++) { %>
                    <option value="<%= artists[i]._id %>" 
                        <% if(artists[i]._id.toString() === track.artist._id.toString()) { %>
                        selected
                        <% } %>
            ><%= artists[i].name %></option>
            <% } %>
            </select><br/>
            <label>Title</label><br>
            <input type="text" name="title" value="<%= track.title %>"/><br/>
            <input type="text" name="link" value="<%= track.link %>"/><br>
            <input type="submit" value="Update Track"/>
        </form>
    </main>
    <footer>
        <a href="/auth/logout/">Logout</a>
    </footer>
</body>
</html>