<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= track.title %> by <%= track.artist.name %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <h1><%= track.title %></h1>
    </header>
        <main>
            <section>
                <h1>Artist: <a href="/artists/<%= track.artist._id %>"><%= track.artist.name %></a></h1>

                <a href="<%= track.link %>">Play <%= track.title %></a><br>
                <a href="<%= track.link %>"><img src="<%= track.image %>"></a>
            </section>
            <section>
                <a href="/tracks/<%= track._id %>/edit">Edit track</a>
            </section>
            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li> 
                        <a href="/tracks">All Tracks</a>
                    </li>
                </ul>
            </nav>
            <section>
                <form action="/tracks/<%= track._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Track"/>
                </form>
            </section>
        </main>
        <footer>
                <a href="/auth/logout/">Logout</a>
        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>